/*
 * Shannon Zhu
 * January 2015
 */

/* Base map coloring */
.subunit { 
	fill: #ddc; 
}

/* Radio button styling */
label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;   
    margin-right: 15px;  
    font-size: 13px;  
} 
